@{
    var texto = ViewData["texto"];
}
<div class="w-100 banner d-flex flex-column justify-content-end align-items-center">
    <div class="flex-grow-1 d-flex justify-content-center align-items-center">
        <h2 class="page-title">CATÁLOGO</h2>
    </div>
    <form class="d-flex flex-column font-raleway" onsubmit="return false">
        <div class="form-group d-flex w-100 search-bar">
            <input type="search" maxlength="50" id="buscador" name="buscador" placeholder="¿Qué desea buscar?" value="@texto" class="form-control" />
            <select asp-items="@(new SelectList(ViewBag.Materias,"IdMateria","Materia1") )" class="form-select w-50 selectmateria" id="materia">
                <option selected value="0">Todas las materias</option>
            </select>
            <button type="submit" id="ajaxform">Buscar</button>
        </div>
        <div class="accordion" id="busquedaAvanzada">
            <div class="accordion-item bg-transparent border-0">
                <p class="accordion-header" id="headingOne">
                    <button class="bg-transparent text-primary border-0 collapsed fontshadow fontsmall"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                            aria-expanded="false" aria-controls="collapseOne">
                        Busqueda avanzada ▼
                    </button>
                </p>
                <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne"
                     data-bs-parent="#busquedaAvanzada">
                    <div class="accordion-body text-light  p-0">
                        <div class="d-flex flex-wrap mt-1">
                            <label class="fw-bold fontsmall">Idioma:&nbsp;&nbsp;</label>
                            <div class="form-check">
                                <input class="form-check-input check-all-idioma check-idioma" type="checkbox" value="0"
                                       id="todosIdiomas" checked onclick="uncheck(this, 'check-one-idioma')">
                                <label class="form-check-label"
                                       for="todosIdiomas"><small>Todos&nbsp;&nbsp;&nbsp;</small></label>
                            </div>
                            @foreach (var idioma in ViewBag.Idiomas)
                            {<div class="form-check">
                                    <input class="form-check-input check-one-idioma check-idioma" type="checkbox" value="@idioma.IdIdioma"
                                           id="@idioma.Idioma1" onclick="uncheck(this, 'check-all-idioma')">
                                    <label class="form-check-label" for="@idioma.Idioma1">
                                        <small>@idioma.Idioma1&nbsp;&nbsp;&nbsp;</small>
                                    </label>
                                </div>
                             }
                        </div>

                        <div class="d-flex flex-wrap mt-1">
                            <label class="fw-bold fontsmall">Tipo de Archivo:&nbsp;&nbsp;</label>
                            <div class="form-check">
                                <input class="form-check-input check-archivo check-all-archivo" type="checkbox" value="TODOS"
                                       id="todosArchivos" checked onclick="uncheck(this, 'check-one-archivo')">
                                <label class="form-check-label"
                                       for="todosArchivos"><small>Todos&nbsp;&nbsp;&nbsp;</small></label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input check-archivo check-one-archivo" type="checkbox" value="PDF"
                                       id="libro" onclick="uncheck(this, 'check-all-archivo')">
                                <label class="form-check-label"
                                       for="libro"><small>Libro&nbsp;&nbsp;&nbsp;</small></label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input check-archivo check-one-archivo" type="checkbox" value="MP3"
                                       id="audio" onclick="uncheck(this, 'check-all-archivo')">
                                <label class="form-check-label"
                                       for="audio"><small>Audio&nbsp;&nbsp;&nbsp;</small></label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input check-archivo check-one-archivo" type="checkbox" value="MP4"
                                       id="audio" onclick="uncheck(this, 'check-all-archivo')">
                                <label class="form-check-label"
                                       for="audio"><small>Video&nbsp;&nbsp;&nbsp;</small></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    function uncheck(element, id) {
        if (element.checked) {
            let checkboxes = document.getElementsByClassName(id);
            for (let checkbox of checkboxes) {
                checkbox.checked = false;
            }
        }
    }
</script>