@model UnlaLibrary.Data.Entities.MaterialEstudio

@{
    ViewData["Title"] = "Catalogo";
    Layout = "~/Views/Shared/_LayoutLogOn.cshtml";
    var reseñas = ViewData["Res"] as List<UnlaLibrary.Data.Entities.Reseña>;
    var mireseña = ViewBag.MiReseña as UnlaLibrary.Data.Entities.Reseña;
    if (mireseña != null)
    {
        reseñas.Add(mireseña);
    }
    var promedio = reseñas.Average(x => x.Puntuacion);
    var cantidad = reseñas.Count();
    reseñas.Remove(mireseña);
}

<!DOCTYPE html>
<html lang="es">

<head>
    <link href="@Url.Content("~/css/detalle.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <!-- BUSCADOR -->
    <div class="w-100 d-flex searcher justify-content-center">
        <div class="w-75r row">
            <a href="#" onclick="history.go(-1); return false;" class="col-1 h-100 d-flex justify-content-center align-items-center p-0 p-sm-3 p-lg-4">
                <img src="/images/left-arrow.png" alt="Volver" class="w-100" />
            </a>
            <form class="d-flex align-items-center justify-content-center flex-column col"
                  asp-controller="Catalogo" asp-action="CatalogoCargado" method="post">
                <div class="form-group d-flex search-bar font-raleway">
                    <input type="search" maxlength="50" placeholder="¿Qué desea buscar?" name="texto" id="texto" />
                    <select asp-items="@(new SelectList(ViewBag.Materias,"IdMateria","Materia1") )" id="idmateria" name="idmateria">
                        <option selected value="0">Todas las materias</option>
                    </select>
                    <button type="submit">
                        <img src="/images/search.png" alt="buscar" />
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- DETALLES -->
    <div class="w-100 d-flex flex-column align-items-center mt-4">
        <div class="separator w-75r"></div>
        <div class="w-75r row ">
            <div class="col-sm-12 col-md-7 col-lg-8 border rounded bg-semilight">
                <div class="row my-3 responsive-center">
                    <div class="col-8 col-sm-6 col-md-6 col-lg-5 mx-1 p-0">
                        <img src="data:image;base64,@Convert.ToBase64String(Model.Miniatura)" class="w-100 border border-dark border-5" />
                    </div>
                    <div class="d-flex flex-column justify-content-start align-items-start col font-raleway">
                        <h2 class="bg-darker w-100 text-center text-md-start">@Model.Titulo</h2>
                        <h5 class=" w-100 text-center text-md-start">por @Model.Autor</h5>
                        <p class="materia">@Model.IdMateriaNavigation.Materia1</p>
                        <small>@Model.IdIdiomaNavigation.Idioma1</small>
                        <h6 class="mt-3 font-weight-bold">Sinopsis</h6>
                        <p>
                            @Model.Prologo;
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="py-2 border rounded border-1 d-flex flex-column align-items-center bg-semilight">
                    <figure class="d-flex flex-column align-items-center p-2">
                        <div class="d-flex">
                            @for (var i = 1; i <= Convert.ToInt32(promedio); i++)
                            {
                                <i class="fas fa-star text-warning fs-1"></i>
                            }
                            @for (var i =5; i > Convert.ToInt32(promedio); i--)
                            {
                                <i class="fas fa-star text-secondary fs-1"></i>
                            }
                        </div>
                        <figcaption>@cantidad reseñas</figcaption>
                    </figure>
                    <div class="w-100 justify-content-center d-flex">
                        <a href="@Url.Action("ViewFile", "Catalogo", new { id = Model.IdMaterial })" target="_nblank" class="text-decoration-none">
                            <span class="button__visualizar">
                                VISUALIZAR
                            </span>
                        </a>
                    </div>
                    <div class="d-flex flex-row justify-content-center">
                        <a href="@Url.Action("DownloadFile", "Catalogo", new { id = Model.IdMaterial })" target="_nblank"
                           class="no-button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Descargar">
                            <i class="fas fa-file-download text-success fs-1"></i>
                        </a>
                        @{
                            var clase = "fas fa-heart fs-1 text-secondary ";
                            var title = "Agregar a la bibliteca";
                            if ((bool)ViewData["Fav"])
                            {
                                clase = "fas fa-heart fs-1 text-danger";
                                title = "Remover de la bibliteca";
                            }

                        }
                        <button type="button" class="no-button" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                title="@title" data-idMaterial="@Model.IdMaterial"
                                data-enbiblioteca="@ViewData["Fav"]" onclick="cambiarEstado(this)" id="botonBibliteca">
                            <i class="@clase"></i>
                        </button>
                        <button type="button" class="no-button" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                title="Compartir">
                            <i class="fas fa-share-alt-square text-info fs-1"></i>
                        </button>
                    </div>
                </div>

                <div class="separator2"></div>
                <div class="py-2 border rounded border-1 d-flex flex-column align-items-center bg-semilight ">
                    <div class="d-flex flex-column align-items-center w-100" style="box-sizing: border-box">
                        <div class="d-flex flex-column p-1 " style="width: 98%">
                            @if (ViewBag.MiReseña != null)
                            {
                                <div class="border d-flex flex-column w-100 p-1 bg-light2 border border-2 border-secondary rounded">
                                    <h6 class="my-0 py-0">Yo</h6>
                                    <div class="d-flex">
                                        @for (var i = 1; i <= ViewBag.MiReseña.Puntuacion; i++)
                                        {
                                            <i class="fas fa-star text-warning"></i>
                                        }
                                    </div>
                                    <p class="my-0 littlefont">@ViewBag.MiReseña.Comentario</p>
                                    <div class="d-flex w-100 justify-content-center">
                                        <button type="button" class="btn btn-primary btn-sm my-1" data-bs-toggle="modal"
                                                data-bs-target="#reseñaModal">
                                            Cambiar reseña
                                        </button>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <button type="button" class="btn btn-primary btn-lg my-1" data-bs-toggle="modal"
                                        data-bs-target="#reseñaModal">
                                    Reseñar
                                </button>
                            }
                        </div>
                        <div class="d-flex flex-column  comments p-1 " style="width: 98%">
                            @foreach (var item in ViewData["Res"] as IEnumerable<UnlaLibrary.Data.Entities.Reseña>)
                            {
                                <div class="border d-flex flex-column w-100 p-1 bg-light">
                                    <h6 class="my-0 py-0">@item.IdUsuarioNavigation.Nombre </h6>
                                    <div class="d-flex">
                                        @for (var i = 1; i <= item.Puntuacion; i++)
                                        {
                                            <i class="fas fa-star text-warning"></i>
                                        }
                                    </div>
                                    <p class="my-0 littlefont">@item.Comentario</p>
                                </div>
                            }
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="separator w-75r"></div>

    </div>
    <!-- Modal -->
    <div class="modal fade" id="reseñaModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Reseñar "@Model.Titulo"</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-column align-items-start mb-2">
                        <label class="fs-6 border border-bottom-0 rounded-top px-2">Calificación</label>
                        <div class="d-flex fs-3 mb-2 border rounded p-1 ">
                            <i class="fas fa-star mx-1  text-secondary star" data-value="1" id="star1"></i>
                            <i class="fas fa-star mx-1  text-secondary star" data-value="2" id="star2"></i>
                            <i class="fas fa-star mx-1  text-secondary star" data-value="3" id="star3"></i>
                            <i class="fas fa-star mx-1  text-secondary star" data-value="4" id="star4"></i>
                            <i class="fas fa-star mx-1  text-secondary star" data-value="5" id="star5"></i>
                        </div>
                    </div>
                    <div class="d-flex flex-column  align-items-start">
                        <label class="fs-6 border border-bottom-0 rounded-top px-2" for="comentario">Comentario</label>
                        <textarea class="form-control" maxlength="120" rows="3" placeholder="Escribe tu reseña acá" id="comentario"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="reseñar">Enviar Reseña</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a83f82191e.js" crossorigin="anonymous"></script>
    <script src="~/js/jquery-3.6.0.js"></script>
    <script>
         function cambiarEstado(button) {
            // alterna colores
            button.firstElementChild.classList.toggle('text-danger')
            button.firstElementChild.classList.toggle('text-secondary')
            $.ajax({
                    type: 'POST',
                    url: "@Url.Action("ModificarFav", "Biblioteca")", // we are calling json method
                    dataType: 'json',
                    data: {
                        idMaterial: @Model.IdMaterial
                    },
                success: function (data) {
                        let enbiblioteca = button.dataset.enbiblioteca == "True";
                        button.dataset.enbiblioteca = !enbiblioteca;
                        $('#botonBibliteca').attr('title', enbiblioteca ? 'Agregar a la bibliteca' : 'Remover de la bibliteca');
                    }
            });
            return false;
        }

        function traerCalificacion() {
            let stars = document.getElementsByClassName("star");
            let calificacion = 0;
            for (let star of stars) {
                if (star.classList.contains('text-warning')) calificacion++;
            }
            return calificacion;
        }

        $("#reseñar").click(function () {
            let calificacion = traerCalificacion();
            if (calificacion == 0) return alert("Debe elegir un puntaje en estrellas")
            var comentario = $("#comentario").val()
            $.ajax({
                type: 'POST',
                url: "@Url.Action("Reseña", "Catalogo")", // we are calling json method
                dataType: 'json',
                data: {
                    texto: comentario,
                    idMaterial: @Model.IdMaterial,
                    puntuacion: calificacion
                },
                success: function (data) {
                    $('#reseñaModal').modal('toggle');
                    location.reload();
                }
            });
        });

        function calificar(event) {
            let value = parseInt(event.target.dataset.value)
            for (let i = 1; i <= value; i++) {
                document.getElementById(`star${i}`).classList.remove('text-secondary');
                document.getElementById(`star${i}`).classList.add('text-warning');
            }
            for (let i = value + 1; i <= 5; i++) {
                document.getElementById(`star${i}`).classList.remove('text-warning');
                document.getElementById(`star${i}`).classList.add('text-secondary');
            }
        }

        let stars = document.getElementsByClassName("star");
        for (let star of stars) {
            star.addEventListener('click', calificar);
        }
    </script>
</body>

</html>
