@{
    Layout = "";
}
@model IEnumerable<UnlaLibrary.Data.Entities.MaterialEstudio>
<table class="table table-hover table-striped w-100 border border-secondary">
    <thead>
        <tr class="table-dark">
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMateriaNavigation.Materia1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdIdiomaNavigation.Idioma1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Detalle","Catalogo", new { id = item.IdMaterial})">
                        @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdMateriaNavigation.Materia1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdIdiomaNavigation.Idioma1)
                </td>
            </tr>
        }
    </tbody>
</table>
